# Python
__pycache__/
*.py[cod]
*.so
env/
venv/
ENV/
build/
dist/
*.egg-info/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Database and journal files
*.db-journal

# Project-specific generated or large files
*.pma
component_crx_cache/
extensions_crx_cache/
BrowserMetrics*/
Crashpad/
Crowd Deny/
Default/
Local State
Last Browser
Last Version
First Run/
first_party_sets.db-journal
OnDeviceHeadSuggestModel/
MEIPreload/
OptimizationHints/
OptimizationGuideModelStore/
ShaderCache/
WasmTtsEngine/
WidevineCdm/
Storage/
Subresource Filter/
Safe Browsing/
Variations/
ActorSafetyLists/
CaptchaProviders/
CertificateRevocation/
component_crx_cache/

# Logs and temp
*.log
tmp/
temp/

# IDEs and editors
.vscode/
.idea/

# Cache and DBs to ignore
GrShaderCache/
GraphiteDawnCache/
__pycache__/
*.pyc
first_party_sets.db
segmentation_platform/ukm_db
segmentation_platform/ukm_db/
storage/bot_users.db
Default/Extensions/
